<img src="/assets/banner.png" alt="banner" width="100%">

#### A repository of WebXR example apps built with the [Desktop Vision VR Dev Server](https://github.com/Desktop-Vision/desktop-vision-vr-dev-server)

{{#each pages}}

  <a href="https://desktop-vision-vr-dev-server-example-apps.pages.dev{{this.path}}">
    <img src="{{this.thumbnail}}" alt="{{this.title}}" width="200px">
  </a>

  [{{this.title}}](https://desktop-vision-vr-dev-server-example-apps.pages.dev{{this.path}})

  [Source Code](https://github.com/Desktop-Vision/desktop-vision-vr-dev-server-example-apps/tree/main{{path}})
  
  ---
{{/each}}
